#
# This file is part of xsocks, a lightweight proxy tool for science online.
#
# Copyright (C) 2019 XJP09_HK <jianping_xie@aliyun.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#

[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "deps/libev"]
	path = deps/libev
	url = https://github.com/enki/libev.git
[submodule "deps/libbloom"]
	path = deps/libbloom
	url = https://github.com/jvirkki/libbloom.git
[submodule "deps/libsodium"]
	path = deps/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "deps/libcork"]
	path = deps/libcork
	url = https://github.com/dcreager/libcork.git
